/*Código armado por La Foca Loca S.A. No modificar*/ 
*
{
  box-sizing: border-box;
} 
body {
  font-family: Arial, sans-serif;
  width: 940px; 
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
 
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  margin-left:12px;
  padding: 10px 0;
  animation: fadein 5s;

  color: black;
  font-size: 20px;
}

li::before {
  content: "• ";
  color: #EC6778;
}


.col-40 h1 {
  font-size: 30px;
  color: black;
  text-align: center;
}

.col-40, .col-60 {
  
  display: table-cell;
  margin: 0;
  vertical-align: top;
  
}
.col-40 {
  background:lightblue;
  padding: 30px;
  color: #000;

/*background-image:  url(../images/rompe4.png);*/
 
 
}

.col-60 {
  background: #E84A5F;

  width: 600px;
  overflow: hidden;

}
.col-60 .pieza{ 

width: 33.33%;
height: 200px;
float:left;
border:1px solid black;


}

.pieza img{
  width: 100%;
  float:left;
  display:block;
}

#flecha{
  font-size: 60px;
}

.texto-centrado {
  text-align: center;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}






#titulo
{
  font-size:30px;
  font-family: Arial, Helvetica, sans-serif;
}



#final
{
  width: 200px;
  height:200px;
 margin-top:50px;
 margin-left:35px;
}

#lista-instrucciones
{
  text-align: center;
}

